PORT=5000
MONGODB_URI=mongodb://localhost:27017/trading-app
JWT_SECRET=trading_app_super_secret_key_2026
ANGEL_API_KEY=
ANGEL_CLIENT_ID=
ANGEL_MPIN=
ANGEL_TOTP_SECRET=

# AI Chatbot Keys
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
TELEGRAM_BOT_TOKEN=
